<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>PiCar</title>
	<link rel="stylesheet" href="/framework/bootstrap.min.css">
	<link rel="stylesheet" href="/site.css">
</head>

<body>
	<div id="app">
		<nav class="navbar navbar-expand-lg navbar-light bg-light mb-5">
			<h1 class="navbar-brand" href="#">PiCar</h1>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
		</nav>
		<div class="container-fluid">
			<div class="row">
				<div class="col-3">
					<h1>State</h1>
					<br />
					<h2>Motor</h2>
					<div class="progress m-1">
						<div class="progress-bar prograss-bar-hide" v-bind:style="{ width: motorALeft }"></div>
						<div class="progress-bar progress-bar-striped progress-bar-animated"
							v-bind:style="{ width: motorA }">A</div>
					</div>
					<div class="progress m-1">
						<div class="progress-bar prograss-bar-hide" v-bind:style="{ width: motorBLeft }"></div>
						<div class="progress-bar progress-bar-striped progress-bar-animated"
							v-bind:style="{ width: motorB }">B</div>
					</div>
					<br />
					<h2>LED</h2>
					<p>Brightness: {{ led.brightness }}</p>
					<ul class="list-group m-1">
						<li class="list-group-item" v-bind:style="{ 'background-color': getLedColor(0) }">
							<span class="badge badge-secondary">LED 0</span>
						</li>
						<li class="list-group-item" v-bind:style="{ 'background-color': getLedColor(1) }">
							<span class="badge badge-secondary">LED 1</span>
						</li>
						<li class="list-group-item" v-bind:style="{ 'background-color': getLedColor(2) }">
							<span class="badge badge-secondary">LED 2</span>
						</li>
						<li class="list-group-item" v-bind:style="{ 'background-color': getLedColor(3) }">
							<span class="badge badge-secondary">LED 3</span>
						</li>
					</ul>
					<br />
					<h2>IR Sensor</h2>
					<p>Left: {{ irsensor.left }}</p>
					<p>Right: {{ irsensor.right }}</p>
					<p>Analog: {{ irsensor.analog }}</p>
					<br />
				</div>
				<div class="col-3">
					<h1>Operation</h1>
					<br />
					<h2>Motor</h2>
					<div class="input-group m-1">
						<div class="input-group-prepend">
							<span class="input-group-text">A</span>
						</div>
						<input type="number" class="form-control" v-model="model.motor.A" min="-99" max="99">
						<div class="input-group-append">
							<button class="btn" type="button" @click="onApplyMotorA">Apply</button>
						</div>
					</div>
					<div class="input-group m-1">
						<div class="input-group-prepend">
							<span class="input-group-text">B</span>
						</div>
						<input type="number" class="form-control" v-model="model.motor.B" min="-99" max="99">
						<div class="input-group-append">
							<button class="btn" type="button" @click="onApplyMotorB">Apply</button>
						</div>
					</div>
					<br />
					<h2>LED</h2>
					<div class="input-group m-1">
						<div class="input-group-prepend">
							<span class="input-group-text">Brightness</span>
						</div>
						<input type="number" class="form-control" v-model="model.led.brightness" min="0" max="255">
						<div class="input-group-append">
							<button class="btn" type="button" @click="onApplyLedBrightness">Apply</button>
						</div>
					</div>
					<ul class="list-group m-1">
						<li class="list-group-item" v-bind:style="{ 'background-color': led0 }">
							<span class="badge badge-secondary">LED 0</span>
							<input class="ml-5" type="color" v-model="led0">
						</li>
						<li class="list-group-item" v-bind:style="{ 'background-color': led1 }">
							<span class="badge badge-secondary">LED 1</span>
							<input class="ml-5" type="color" v-model="led1">
						</li>
						<li class="list-group-item" v-bind:style="{ 'background-color': led2 }">
							<span class="badge badge-secondary">LED 2</span>
							<input class="ml-5" type="color" v-model="led2">
						</li>
						<li class="list-group-item" v-bind:style="{ 'background-color': led3 }">
							<span class="badge badge-secondary">LED 3</span>
							<input class="ml-5" type="color" v-model="led3">
						</li>
					</ul>
					<br />
					<h2>Camera</h2>
					<iframe src="http://192.168.208.108:8081" frameborder="0" border="0" marginwidth="0"
						marginheight="0">
						Camera
					</iframe>
				</div>
				<div class="col">
					<h1>Program</h1>
					<div class="btn-group" role="group">
						<button type="button" class="btn btn-primary" @click="onCompile">Compile</button>
						<button type="button" class="btn btn-warning" @click="onRunOnce">Run Once</button>
						<button type="button" class="btn btn-success" @click="onRun">Run</button>
						<button type="button" class="btn btn-danger" @click="onStop">Stop</button>
					</div>
					<div id="editor" style="left: 10px; bottom: 10px; position: absolute; top: 100px; right: 10px;">
					</div>
				</div>
			</div>
		</div>
		<footer class="border-top footer text-muted">
			<div class="container-fluid">
				Copyright 2020 - PiCar - StardustDL - <a href="https://github.com/StardustDL/PiCar">GitHub</a>
			</div>
		</footer>
	</div>

	<script src="/framework/jquery-3.3.1.slim.min.js"></script>
	<script src="/framework/popper.min.js"></script>
	<script src="/framework/bootstrap.min.js"></script>

	<script src="/framework/vue@next.js"></script>
	<script src="/framework/ace/ace.js" type="text/javascript" charset="utf-8"></script>

	<script src="/site.js" type="text/javascript" charset="utf-8"></script>

</body>

</html>